/* General */

html {
  font-size: 18px;
}

body {
  font-family: Arial;
  line-height: 1.2;
}

.flex {
  display: flex;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */

header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 64px;
  justify-content: space-between;
}

header .logo{
  display: flex;
  margin-left: 24px;
  align-items: center;
}

header h3{
  font-size: 1.5rem;
  font-weight: bold;
}

header span{
  font-weight: normal;
  color: grey;
}

nav li{
  display: inline-block;
  padding-right: 16px;
  margin: auto 8 auto 8;
  align: right;
}

nav .phone-menu{
  display: none;
}

/* Main Header */

.main-banner {
  display: flex;
  background-color: silver;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.banner {
  width: 60%;
}

.banner img{
  overflow: hidden;
  padding: 2rem 1.5rem;
  width: 90%;
  height: auto;
}

 .headline{
  width: 40%;
}

.button {
  display:inline-block;
  margin-top: 2rem;
  padding: 1rem 0rem;
  width: 80%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Information section */

.info{
  display: flex;
  width: 100%;
  height: auto;
}

.info .image-caption{
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.info .banner h2{
  padding-top: 2rem;
}

.info .banner p{
  padding-top: 1.5rem;
  font-size: 1.25rem;
}

.info .banner span{
  padding-top: 0.5rem;
  color: grey;
}

.menu2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0rem;
}

.menu-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.menu-item img {
  width: 35%;
  height: auto;
  margin: 16px;

}

.menu-item .info-text{
  width: 65%;
}

.info-text p {
  padding: 8px 0px;
}

/* Start learning */

.learn{
  width: 100%;
  background-color: silver;
}

.learn h2{
  text-align: center;
  padding: 2rem 0rem;
}

.learn .subjects {
  display: flex;
  padding: 2rem 4.5rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.learn .subjects .subject{
  background-color: white;
  overflow:hidden;
  color: grey;
  width: 30%;
}

.subject img{
  height: auto;
}


/* Thesis */

.thesis-headline{
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.thesis {
  display: flex;
  width: 100%;
}

.banner video{
  width: 90%;
  padding: 2rem 1.5rem;
}

.thesis .video-caption{
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  border-top: 1px solid;
  padding: 1.5rem 1rem;
}

.footer-nav{
  padding-right: 1.5rem;
}
