/* General */

html {
  font-size: 18px;
}

body {
  font-family: Arial;
  line-height: 1.2;
}

.container{

}

.flex {
  display: flex;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #1A2930;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #1A2930;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1A2930;
}

/* Header */

header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 64px;
  justify-content: space-between;
}

header .logo{
  display: flex;
  margin-left: 24px;
  align-items: center;
}

header h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #1A2930;
}

header span{
  font-weight: normal;
  color: #FBA100;
}

nav li{
  display: inline-block;
  padding-right: 16px;
  margin: auto 8 auto 8;
  align: right;
  color: #1A2930;
}

.phone-menu{
  display: none;
}

@media only screen and (max-width: 750px){

 .menu {
    display: none;
  }

  header .logo {
    display: none;
  }

  .phone-menu {
    display: flex;
    align-items: center;
    }

  .phone-menu nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 1rem;
    }

  .phone-menu img {
    height: 1.5rem;
    width: auto;
    }
}

/* Main Header */

.main-banner {
  display: flex;
  background-color: #4A8DAC;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.banner {
  width: 60%;
}

.banner img{
  overflow: hidden;
  padding: 2rem 1.5rem;
  width: 90%;
  height: auto;
}

 .headline{
  width: 40%;
  color: #1A2930;
}

.headline h1 {
  color: white;
  text-shadow: 2px 2px #1A2930;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 0rem;
  width: 80%;
  background-color: #FBA100;
  color: white;
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 750px){

  #banner {
    display: flex;
    align-items: center;
  }

  .main-banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .banner img {
    width: 100%;
    padding: 0rem;
  }

  .headline {
    width: 100%;
    padding: 2rem 1rem;
  }

  .headline p {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

}

/* Information section */

.info{
  display: flex;
  width: 100%;
  height: auto;
}

.info .image-caption{
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.info .banner h2{
  padding-top: 2rem;
  color: #1A2930;
}

.info .banner p{
  padding-top: 1.5rem;
  font-size: 1.25rem;
  color: #1A2930;
}

.info .banner span p{
  padding-top: 0.5rem;
  color: #99CED4;
}

.menu2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0rem;
}

.menu-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.menu-item h3 p {
  color: #1A2930;
}

.menu-item a {
  color: #FBA100;
  text-decoration: none;
}

.menu-item img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.menu-item .mobile{
  display: none;
}

.menu-item .info-text{
  width: 65%;
}

.info-text p {
  padding: 8px 0px;
}

@media only screen and (max-width: 750px){

  .info .banner {
    display: none;
  }

  .menu2 {
    width: 100%;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    width: 90%;
  }

  .menu-item img {
    display: none;
  }

  .menu-item .mobile {
    display: flex;
    width: 100%;
  }

  .menu-item .info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

}

/* Start learning */

.learn{
  width: 100%;
  background-color: #4A8DAC;
}

.learn h2 {
  color: white;
}

.learn h2{
  text-align: center;
  padding: 2rem 0rem;
}

.learn .subjects {
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0rem 4.5rem 2rem 4.5rem;
  margin: 0 auto;
}

.learn .subjects .subject{
  background-color: white;
  overflow:hidden;
  width: 30%;
  text-decoration: none;
  margin: 1rem;
}

.subject img{
  height: auto;
}

.subject .sub-info{
  margin: 1rem;

}

.subject .sub-info .course{
  padding: 8px 0px;
  color: #4A8DAC;
}

.subject p{
  color: #FBA100;
}

@media only screen and (max-width: 750px){

  .learn {
    background-color: white;
  }
  .subject img {
    display: none;
  }

  .learn h2 {
    color: #1A2930;
  }

  .sub-info p {
    display: none;
  }

  .learn .subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;

  }

  .learn .subjects .subject{
    width: 100%;
    background-color: #FBA100;
    margin: 0.25rem;
  }

}

/* Thesis */

.thesis-headline{
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.thesis {
  display: flex;
  width: 100%;
  height: auto;
}

.thesis-banner{
  width: 60%;
}

.thesis-banner video{
  width: 90%;
  padding: 2rem 1.5rem;
  overflow: hidden;
  height: auto;
}

.thesis .video-caption{
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.thesis p {
  padding-top: 1rem;
  color: #4A8DAC;
}

.menu2 p {
  padding-top: 1rem;
  color: #FBA100;
}

@media only screen and (max-width: 750px){

  .thesis .video-caption {
    display: none;
  }

  .thesis .menu2 {
    display: none;
  }

  .thesis-banner {
    width: 100%;
  }

  .thesis-banner video {
    width: 100%;
    padding: 0rem 0rem 1.5rem 0rem;
  }
}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  border-top: 1px solid #1A2930;
  padding: 1.5rem 1rem;
  color: #1A2930;
}

.footer-nav{
  padding-right: 1.5rem;
}

.footer-nav a {
  color: #4A8DAC;
}

@media only screen and (max-width: 750px){

  footer{
    padding: 1rem .25rem;
    height: 2rem;
    border: none;
  }

  .footer-nav {
    display: none;
  }
}
